<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/command.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <div class="container">
      <div class="cmd-container">
        <form action="/command" method="POST" class="cmd-form">
          <div class="cmd1">on1</div>
          <div class="cmd2">on2</div>
          <div class="cmd3">off1</div>
          <div class="cmd4">off2</div>
          <div class="cmd5">send</div>
          <div class="cmd6">emg</div>
        </form>
      </div>
    </div>
    <script src="/javascripts/command.js"></script>
  </body>
</html>
