<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/command.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <div class="container">
      <div class="cmd-container">
        <form action="/cmd" method="POST" class="cmd-form">
          <input type="text" name="cmd">
          <button type="submit"></button>
        </form>
      </div>
    </div>
    <script src="/javascripts/command.js"></script>
  </body>
</html>
