<!DOCTYPE html>
<html>

<head>
  <title>Flow.AI</title>
  <link rel="stylesheet" href="/stylesheets/command.css" />
  <link rel="stylesheet" href="/stylesheets/background.css" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
</head>

<body>
  <div class="container">
    <div class="cmd-container">
      <form action="/cmd" method="POST" class="cmd-form">
        <input type="submit" name="cmd" value="reset to 14:32 (872)" />
        <input type="submit" name="cmd" value="decrease 10 min 11 sec" />
        <input type="submit" name="cmd" value="decrease 1 min" />
        <input type="submit" name="cmd" value="decrease 30 sec" />
        <input type="submit" name="cmd" value="increase 1 min" />
        <input type="submit" name="cmd" value="increase 30 sec" />
        <hr>
        <input type="submit" name="cmd" value="on1" />
        <input type="submit" name="cmd" value="off1" />
        <input type="submit" name="cmd" value="on2" />
        <input type="submit" name="cmd" value="off2" />
        <input type="submit" name="cmd" value="onall" />
        <input type="submit" name="cmd" value="offall" />
      </form>
    </div>
  </div>
</body>

</html>