<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/command.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <div class="container">
      <div class="cmd-container">
        <form action="/cmd" method="POST" class="cmd-form">
          <input type="submit" name="cmd" value="on1" />
          <input type="submit" name="cmd" value="off1" />
          <input type="submit" name="cmd" value="on2" />
          <input type="submit" name="cmd" value="off2" />
          <input type="submit" name="cmd" value="onall" />
          <input type="submit" name="cmd" value="offall" />
        </form>
      </div>
    </div>
  </body>
</html>
