<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/btn.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="top-section">
        <a class="nav-logo" href="/">
          <img src="/img/logo.svg" class="nav-logo-img" />
        </a>
      </div>
      <div class="mid-section">
        <div class="p-wrapper">
          <p>Awesome Solution For</p>
          <p>Automatic Dam</p>
          <p>Management System</p>
          <p>with AI</p>
        </div>
      </div>
      <div class="bottom-section">
        <a href="/stat">
          <div class="stat-btn bttn-pill bttn-md bttn-primary">Status</div>
        </a>
      </div>
    </div>
  </body>
</html>
