<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
  </head>
  <body>
    <div class="container">

      <div class="nav">
        <div class="nav-logo">
          <img src="/img/logo.png" alt="" />
        </div>
      </div>

      <div class="title-section">
        
      </div>

      <div class="subtitle-section">

      </div>

      <div class="stat-section">

      </div>
    </div>
  </body>
</html>
