<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <img src="/img/rush.png" class="index-img" />
    <div class="container">
      <div class="nav">
        <div class="nav-logo">
          <img src="/img/logo.png" alt="" />
        </div>
      </div>

      <div class="title">
        <div class="title-content">most powerful</div>
        <div class="title-content">most intelligent</div>
        <div class="title-content">dam management system</div>
      </div>

      <div class="subtitle">
        <div class="subtitle-content">
          대충 여기에 아무 설명 대충 여기에 아무 설명 대충 여기에 아무 설명
        </div>
        <div class="subtitle-content">
          대충 여기에 아무 설명 대충 여기에 아무 설명 대충 여기에 아무 설명
        </div>
      </div>

      <div class="to-stat">
        <div class="stat-btn">STAT</div>
      </div>
    </div>
  </body>
</html>
