<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/stat.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/javascripts/chartist.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="nav-logo">
          <img src="/img/logo.svg" alt="" />
        </div>
      </div>
      <div id="canvas" style="height: 600px; width: 100%; margin-top: 20px;"></div>
      <%= turb %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/javascripts/stat.js"></script>
    <script src="/javascripts/chartist.js"></script>
  </body>
</html>
