<!DOCTYPE html>
<html>
  <head>
    <title>Flow.AI</title>
    <link rel="stylesheet" href="/stylesheets/stat.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/bulma.css" />
  </head>
  <body>
    <div class="container">
      <div class="dam-container">
        <div class="dam-title">#Dam 01</div>
        <div class="dam-info-wrapper">
          <div class="dam-info-container">
            <div class="info-title">water level</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">water discharge</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">discharge status</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container dummy">
              <div class="info-title">water quality</div>
              <div class="info-content"></div>
            </div>
        </div>
      </div>
      <div class="dam-container">
        <div class="dam-title">#Dam 02</div>
        <div class="dam-info-wrapper">
          <div class="dam-info-container">
            <div class="info-title">water level</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">water discharge</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">discharge status</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container dummy">
              <div class="info-title">water quality</div>
              <div class="info-content"></div>
            </div>
        </div>
      </div>
      <div class="dam-container">
        <div class="dam-title">#Dam 03</div>
        <div class="dam-info-wrapper">
          <div class="dam-info-container">
            <div class="info-title">water level</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">water discharge</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">discharge status</div>
            <div class="info-content"></div>
          </div>
          <div class="dam-info-container">
            <div class="info-title">water quality</div>
            <div class="info-content"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
