<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/stat.css" />
    <link rel="stylesheet" href="/stylesheets/background.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    이것이 stat이다 -희망편-
  </body>
</html>
