@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section,
.mid-section {
    margin-bottom: 20px;
}

.nav-logo {
    display: flex;
    justify-content: center;
}

.nav-logo img {
    width: 40vw;
    /* box-shadow: 15px 19px 32px -18px rgba(21,19,19,.07); */
}

.mid-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p-wrapper {
    width: 50vw;
    text-align: center;
    font-size: 30px;
    color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stat-btn {
    border-radius: 40px !important;
    background: #f9f9f9 !important;
    color: #CE684D !important;
    padding: 20px 50px !important;
    box-shadow: 15px 19px 32px -18px rgba(21,19,19,.07);
    transition: .2s;
}

.stat-btn:hover {
    box-shadow: 0 16px 36px 0 rgba(21,19,19,.15);
}

