@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.index-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.title {
  margin-top: 80px;
  border-left: 2px solid orange;
  padding-left: 20px;
}

.title-content {
  font-family: "Muli", sans-serif;
  font-weight: 200;
  color: #fefefe;
  font-size: 50px;
}

.title-content:last-child {
  font-weight: 400;
}

.subtitle {
  margin-top: 20px;
}

.subtitle-content {
  font-family: "Muli", sans-serif;
  font-weight: 200;
  color: #a0a0a0;
}

.to-stat {
  margin-top: 40px;
}

.stat-btn {
  background: #0070cc;
  width: max-content;
  padding: 10px 60px;
  border-radius: 30px;
  color: #fefefe;
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: .2s;
}

.stat-btn:hover {
    transform: scale(1.05);
}

.stat-btn a {
  color: #efefef;
  text-decoration: none;
}
